#bar{
  text-align:center;
  font-size:20px;
  font-family:Futura;
  width:600px;
}

nav{
  display:flex;
  position:relative;
  left:40px;

}
input[type="text"]{
  border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: solid;
  
}
#bar:focus{
  outline:none;
}